<!-- <form action="http://localhost:3000/user/5" method="">
  <input type="submit" value="none">
</form>
<script>
  document.forms[0].submit();
</script> -->

<script> 
  fetch('http://localhost:3000/user/1', {
    method: 'DELETE',
    // credentials: 'include'
  });
</script>